.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
}

.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}

.stage-direction{
    font-family: 'Courier New', monospace;
    font-size: 18px;
    color: black;
    background-color: rgb(255, 255, 84);
}

.stage-direction:hover{
    background-color: rgb(98, 177, 190);
    color: rgba(75,0,130);
}

.algernon{
    color: rgb(179, 50, 32);
}

.lane{
    color: rgb(24, 192, 61);
}